/** @format */

.title {
    width: 100%;
    margin: 2rem 4rem 0;
    padding: 0 0 0 1rem;
    font-size: 4.5rem;
    font-weight: bolder;
    color: #04657d00;
    text-shadow: -5px 3px 1px #ffffff;
    letter-spacing: 1.5px;
    -webkit-text-stroke: 2.5px rgb(39, 164, 173);
}

.main {
    /* padding: 2em; */
    display: flex;
    flex-wrap: wrap;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.addButton {
    margin: 4rem 2rem;
    min-height: 14.5em;
    min-width: 3rem;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    color: white;
    background-color: rgb(50, 160, 154);
}
